#root {
  width: 100vw;
  margin: 0 auto;
}

.header--title {
  animation: slideIn 2.5s ease-out forwards;
  margin-left: -3.5rem
}

@keyframes slideIn {
  0% {
    left: -100vw;
  }

  100% {
    left: 0;
  }
}

.header--title__main {
  animation: linearGradient 0s linear forwards;
  animation-delay: 3s;
}

/* TODO: グラデーションの色を決める */
@keyframes linearGradient {
  from {
    color: inherit
  }

  to {
    background-image: repeating-linear-gradient(-45deg, #313131, #802a9f 15%, #1b46aa 25%);
    /* background-image: repeating-linear-gradient(-45deg, #313131, #924848 10%, #542343 10%); */
    /* background-image: repeating-linear-gradient(-45deg, #313131 1px, #313131 4px, transparent 3px, transparent 6px); */
    background-clip: text;
    color: transparent;
  }
}

.face {
  animation: 8s linear infinite rotation;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}