#root {
  width: 100%;
  margin: 0 auto;
  min-width: 375px;
}

.header--title {
  animation: slideIn 3s ease-out forwards;
}

@keyframes slideIn {
  0% {
    left: -100vw;
  }

  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}

.header--title__main {
  animation: linearGradient 3s 3s forwards;
}

/* TODO: グラデーションの色を決める */
@keyframes linearGradient {
  0% {
    color: inherit
  }

  33% {
    background-image: repeating-linear-gradient(-45deg, #313131 1px, #313131 4px, transparent 3px, transparent 6px);
    background-clip: text;
    color: transparent;
  }

  66% {
    background-image: repeating-linear-gradient(-45deg, #313131, #924848 10%, #542343 10%);
    /* background-image: repeating-linear-gradient(-45deg, #313131 1px, #313131 4px, transparent 3px, transparent 6px); */
    background-clip: text;
    color: transparent;
  }

  100% {
    background-image: repeating-linear-gradient(-45deg, #313131, #802a9f 15%, #1b46aa 25%);
    /* background-image: repeating-linear-gradient(-45deg, #313131, #924848 10%, #542343 10%); */
    /* background-image: repeating-linear-gradient(-45deg, #313131 1px, #313131 4px, transparent 3px, transparent 6px); */
    background-clip: text;
    color: transparent;
  }
}

.header--language {
  animation: appear 2s ease 5s 1 forwards;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header--arrow {
  animation: bounce 4s ease-in-out 5s 1 forwards;
  opacity: 0;
}

@keyframes bounce {
  0% {
    opacity: 0.3;
    transform: translateY(0);
  }
  20%, 50%, 80%, 100% {
    opacity: 0.3;
    transform: translateY(0);
  }
  40% {
    opacity: 0.3;
    transform: translateY(-25px);
  }
  60% {
    opacity: 0.4;
    transform: translateY(-15px);
  }
}

header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 250px solid rgb(234 179 8 / var(--tw-bg-opacity, 1));
  border-right: 150px solid transparent;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 250px solid #313131;
  border-left: 150px solid transparent;
}

.main--build::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 250px solid #d6d6d6;
  border-left: 150px solid transparent;
}

.face {
  animation: 8s linear infinite rotation;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}