@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    "Josefin Sans", system-ui, "Helvetica Neue", Helvetica, "Hiragino Sans",
    Arial, "Yu Gothic", Meiryo, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #d6d6d6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
